body {
  font-family: "roboto";
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#img1 {
  height: 400px;
  width: 800px;
  border-radius: 10px;
}

.img {
  height: 200px;
  width: 300px;
  border-radius: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding-left: 35px;
  padding-right: 65px;
  color: white;
  border-bottom: 2px solid white;
}

h1 {
  display: flex;
  justify-content: center;
}
ul {
  display: flex;
  gap: 10px;
  list-style: none;
  padding-right: 75px;
}
li {
  padding: 20px;
}

a {
  color: white;
}

.box1 {
  background-color: #1f2937;
  padding: 20px;
  display: flex;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  padding: 60px 150px;
  color: white;
}

button {
  background-color: #3882f6;
  border: 0;
  border-radius: 20%;
  width: 120px;
  color: white;
  font-weight: 800;
  font-size: 15px;
  padding: 8px;
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
}

.box2 {
  display: flex;
  justify-content: space-evenly;
  margin-right: 30px;
  font-size: 10px;
  text-align: center;
  gap: 10px;
}

.info {
  max-width: 300px;
}

.box3 {
  background-color: #e5e7eb;
  padding: 30px;
  justify-content: space-between;
  padding-left: 80px;
  font-style: italic;
  font-weight: 300;
  font-size: 36px;
}

.thor {
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
  padding-bottom: 25px;
}

.box4 {
  padding: 75px 125px;
}

.blue-box {
  background-color: #3882f6;
  color: #e5e7eb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 100px 30px;
  border-radius: 8px;
  font-size: 28px;
  line-height: 5%;
}

.blue-box .sign-up {
  width: 120px;
  height: 35px;
  color: white;
  font-weight: 800;
  border: 2px solid white;
  align-items: center;
  border-radius: 10px;
}

footer {
  background-color: #1f2937;
  display: flex;
  padding: 15px 295px;
  color: white;
  justify-content: center;
}
