body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  margin-left: 13%;
  position: relative;
}

.content {
  background-color: white;
  width: 55%;
  box-sizing: border-box;
}

#img1 {
  height: 400px;
  width: 800px;
}
#img2 {
  height: 100px;
  width: auto;
}

#img3 {
  height: 100px;
  width: 175px;
}

#img4 {
  height: 100px;
  width: 175px;
}

#img5 {
  height: 100px;
  width: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding-left: 35px;
  padding-right: 65px;
  color: white;
  border-bottom: 2px solid white;
}

ul {
  display: flex;
  gap: 15px;
  list-style: none;
}
li {
  padding: 20px;
}

a {
  color: white;
}

.box1 {
  background-color: #1f2937;
  padding: 20px;
  display: flex;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  padding: 60px;
  color: white;
  gap: 0;
  margin: 0;
}

button {
  background-color: #3882f6;
  border: 0;
  border-radius: 20%;
  width: 120px;
  color: white;
  font-weight: 800;
  font-size: 15px;
  padding: 8px;
  display: flex;
  justify-content: center;
}
h1 {
  display: flex;
  justify-content: center;
}

.box2 {
  display: flex;
  justify-content: space-evenly;
  padding-left: 15px;
}

.box3 {
  background-color: #e5e7eb;
  padding: 30px;
  justify-content: space-between;
}

.thor {
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
  padding-bottom: 25px;
}

.box4 {
  background: #3882f6;
  border-radius: 10px;
  display: flex;
  gap: 16px;
  padding: 16px;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.text2 {
  display: flex;
  flex-direction: column;
  color: white;
  line-height: 5%;
  padding-top: 5px;
}

.border-button {
  border: 2px solid white;
  border-radius: 20%;
}

footer {
  background-color: #1f2937;
  display: flex;
  position: fixed;
  bottom: 0;
  padding: 15px 336px;
  color: white;
}
